<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.compare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SDCard读数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--系统弹出窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.yc.compare.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yc.compare.ui.GoodListActivity"
            android:theme="@style/AppTheme.Main"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ui.LoginActivity"></activity>
        <activity android:name=".ui.HotBrandActivity"></activity>
        <activity android:name=".ui.HotCountryActivity"></activity>
        <activity android:name=".ui.RegisterActivity"></activity>
        <activity android:name=".ui.NewsDetailActivity"></activity>
        <activity android:name=".ui.OtherPriceActivity"></activity>
        <activity android:name=".ui.SuggestActivity"></activity>
        <activity android:name=".ui.UserInfoActivity"></activity>
        <activity android:name=".ui.AboutActivity"></activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="2I8ULllaGEmvLS5k" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
    </application>

</manifest>
